# build folders
build/
**/build/

# object files
*.o
*.obj

# precompiled headers
*.gch

# cmake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CMakeUserPresets.json

# executables
nextstep_server
*.exe
*.out
*.app

# editor files
*.swp
*.swo
